@import 'fonts.css';

:root {
  --font-sans: 'studio-6', sans-serif;
  --font-serif: 'berlingske-serif', serif;
  --fz-headline-lg: 3rem;
  --fz-headline-md: 2rem;
  --fz-headline-sm: 1.5rem;
}

html {
  font-family: var(--font-sans);
  line-height: 1.5;
}

h1, h2, h3 {
  display: inline-block;
  line-height: 1.2;
  margin-bottom: 1rem;
}

p {
  font-family: var(--font-serif);
}